*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}
  .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #d3e8d3;
    min-height: 48px;
    box-shadow: 5px 2px 2px #f5f5f5;
  }
  .navbar li{
    list-style: none;
    padding: 0 0 0 20px;
    position: relative;
  }
  .navbar li a{
    font-family: 'Anton', sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: #0c3823;
  }
  .navbar .navbar-right {
    flex: 1;
    float: right;
  }
  .navbar .navbar-right ul {
    display: inline-block;
    list-style-type: none;
  }
  .navbar .navbar-right ul li{
    display: inline-block;
    margin-right: 20px;
  }
  .content {
    padding: 10px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  
  .sticky + .content {
    padding-top: 60px;
      z-index: 1;
  }
  nav .fa{
    display: none;
  }
  
  li {
    float: left;
  }
  li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  
  
  /* slideshow */
  .showcase{
    height: 750px;
    width:100%
  }
  .slider {
    margin: 0 auto;
    width: 100%;
    height: 600px;
  }
  .slider h5{
    color: black;
    font-size: 80px;
    position: absolute;
    background-color: transparent;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 5;
    top: 50%;
    left: 50%;
    font-family: 'Bebas Neue', cursive;
    opacity: 0.9;
  }
  
  .slide_viewer {
    height: 600px;
    overflow: hidden;
    position: relative;
  }
  
  .slide_group {
    height: 100%;
    position: relative;
    width: 100%;
  }
  
  .slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .slide h1 {
    color: black;
    font-size: 50px;
    position: absolute;
    background-color: transparent;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 5;
    top: 50%;
    left: 50%;
    font-family: 'Anton', sans-serif;
    font-weight: 800;
    opacity: 0.9;
  }

  .slide img {
    opacity: 0.5;
    width: 100%;
  }
  
  .slide:first-child {
    display: block;
  }

  /* donate button */
  .text-box{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 5;
  }
  .donate-now-btn{
    display: inline-block;
    text-decoration: none;
    color: #373737;
    border: 1px solid #373737;
    border-radius: 5px;
    padding: 12px 34px;
    margin-bottom: 110px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.4em;
    font-size: 20px;
    background: #c2e5d3;
    position: relative;
    top: 200px;
    cursor: pointer;
    text-align: center;
    text-indent: 2px;
    text-transform: uppercase;
    transition: color 0.1s linear 0.05s;
  }
  .donate-now-btn:hover{
    border: 1px solid #fff;
    color: #fff;
    transition: color 0.1s linear 0s;
  }
  
  .slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }
  
  a.slide_btn {
    color: #474544;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  
  .slide_btn.active, .slide_btn:hover {
    color: #428CC6;
    cursor: pointer;
  }
  
  .directional_nav {
    height: 340px;
    margin: 0 auto;
    max-width: 90%;
    position: relative;
    top: -340px;
  }
  
  .previous_btn {
    bottom: 0;
    left: 100px;
    margin: auto;
    position: absolute;
    top: 0;
  }
  
  .next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 100px;
    top: 0;
  }
  
  .previous_btn, .next_btn {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
  }
  
  .previous_btn:hover, .next_btn:hover {
    opacity: 1;
  }
  
  @media only screen and (max-width: 767px) {
    .previous_btn {
      left: 50px;
    }
    .next_btn {
      right: 50px;
    }
  }
  
  
  

  /* Contact Us */
  .contactus {
    width: 100%;
    font: 12px/1.2 "Oswald", sans-serif;
    margin-top: 40px;
    text-align: center;
    padding-top: 40px;
    position: relative;
    background-color: #0c3823;
    padding-bottom: 100px;
  }
  .contactus h1{
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 100;
    color: #d3e8d3;
  }
  
  .contactus h2{
    font-size: 20px;
    font-weight: 70;
    padding-bottom: 40px;
    color: #d3e8d3;
  }

  
  

  /* project description */
.proj-description{
  width: 80%;
  font-family: 'Raleway', sans-serif;
  margin-left: 25%;
  text-align: center;
  justify-item: center;
  padding-top: 100px;
}
h1{
  font-size: 36px;
  font-weight: 600;
}
p{
  color: black;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

h3{
  text-align: center;
  font-weight: 600;
  margin:10px 0;
}
@media(max-width: 800px) {
  .row{
    flex-direction: column;
  }
}
.avatar {
  border-radius: 50%;
  width: 350px;
  height: 350px;
  filter: opacity(0.9);
  float:right;
  margin-top: 10px;
  background: url("./images/foodwaste.jpg");
  cursor: pointer;
}
.avatar:hover {
  background: url("./images/foodwaste_after.png");
}
.description h1{
  font-size: 36px;
  font-weight: 600;
  margin-right: 50%;
}
.description p {
  margin-right: 50%;
  color: black;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 50px;
}



/* PRODUCTS */
.products-list {
  margin-top: 100px;
  padding: 0 40px;
  align-items: center;
  justify-contents: center;
  margin-left: 10%;
}
.product-title{
  text-align: center;
}
.product-title h1{
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 20px;
}
.products {
  height: 100%;
  width: 75%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(3, 3fr);
}
.products img {
  width: 200px;
  /* filter: drop-shadow(30px 10px 4px #ddd); */
}
.products .item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-items: center;
}
.products .item .item-container {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 250px;
  height: 100%;
  background-color: #0c3823;
  border-radius: 5px 5px 25px 25px;
  position: relative;
 
}
.products .item .item-container .item-img {
  width: 100%;
  height: 60%;

  background-color: white;

  border: 1px solid #000;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products .item .item-container .desc {
  width: 100%;
  color: #fff;
  padding: 10px;
}
.desc h2 {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}
.desc p {
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
  color: #fff;
}
.products .item .item-container .add-to-cart {
  background-color: #d3e8d3 ;
  /* background-color: rgb(242, 255, 58); */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  right: 10px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}
.products .item .item-container .add-to-cart img {
  width: 32px;
  height: 32px;
}
.products .item .item-container .add-to-wishlist img {
  width: 32px;
  height: 32px;

  padding: 5px;
}

/* tradings */
.trading {
  margin-top: 250px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  background: #ECF1F524;
  mix-blend-mode: normal;
  backdrop-filter: blur(15px);
  box-shadow: 0px 20px 53px -30px rgba(95, 102, 173, 0.566816);
  border-radius: 10px;
  width:50%;
  margin-left: 25%;
}


.trade-container{
display: flex;
justify-content: center;
align-items: center;
padding: 0 1rem;
padding: 3rem 0;
}
.wrapper{
background: transparent;
padding: 2rem;
border-radius: 15px;
}
h1{
font-size: 1.1rem;
font-family: sans-serif;
}
.sessions{
margin-top: 2rem;
border-radius: 12px;
position: relative;
}
.sessions li{
  text-align: left;
  width:100%;
  padding-bottom: 1.5rem;
  border-left: 5px solid #abaaed;
  position: relative;
  padding-left: 10px;
  margin-left: 10px;
  &:last-child{
  border: 0px;
  padding-bottom: 0;
}
}
&:before{
  content: '';
  width: 15px;
  height: 15px;
  background: white;
  border: 1px solid #4e5ed3;
  box-shadow: 3px 3px 0px #bab5f8;
  box-shadow: 3px 3px 0px #bab5f8;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: 0px;
}
p{
color: #4f4f4f;
    font-family: sans-serif;
line-height: 1.5;
margin-top:0.4rem;
@include mobile-only{
  font-size: .9rem;
}
}